{{- $categories := .Language.Params.Taxonomies.category | default "categories"
}} {{ $categoryColors := .Params.categoryColors }}
<div class="post-cat-div">
  <ul class="post-categories">
    {{- range ($.GetTerms $categories) }} {{- if $categoryColors }} {{- $color
    := index $categoryColors .LinkTitle }}
    <li>
      <a
        style="background: linear-gradient(to right, {{ $color.gradientStart }}, {{ $color.gradientEnd }}); -webkit-background-clip: text"
        href="{{ .Permalink }}"
        >{{ .LinkTitle }}</a
      >
    </li>
    {{- else }}
    <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{- end }} {{- end }}
  </ul>
</div>
